@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #0a0a0b;
  --foreground: #ffffff;
}

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
